
:root {
    font-size: 11px;
}

.police {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "popularity"
"accomodation"
"activitie"
"footer";
}

.navigation {
    display: grid;
    text-align: center;
    height: auto;
    grid-template-areas: "logo_site logo_site"
                          "accomodations activities";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 70px);
}

.logo_index {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 20px;
    grid-area: logo_site;
}


.accomodation, .activitie {
    display: inline-block;
    font-size: 1.40rem;
    width: 50%;
    margin-right: -3px;
    margin-left: 0;
    height: 40px;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
    border-top: none;
    margin-bottom: 20px;
    font-weight: 500;
}

.activitie {
    grid-area: activities;
    border-bottom: 3px solid silver;
    color: black;
    width: 100%;
}

.accomodation {
    grid-area: accomodations;
    width: 100%;
}

.header_grid {
    padding: 0;
}

.margin_form {
    padding: 0 20px 0 20px;
}

.button_filtre {
    font-size: 1.24rem;
    font-weight: 700;
}

.accomodation:hover {
    border-top: none;
}

.activitie:hover {
    border-top: none;
}

.display_search {
    display: none;
}

#search_fonts {
    display: flex;
    justify-content: center;
}

.button_search {
    border-radius: 10px 10px 10px 10px;
    margin-left: -10px;
    height: 40px;
    width: 40px;
}

#block_filtre {
    display: block;
}

.fig_size {
    padding: 5px 10px 5px 10px;
}

.border_style {
    width: calc(100% - 70px);
    font-weight: 700;
}

.margin_filtre {
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
}

#mobile_block {
    display: block;
}

.style_button {
    margin-bottom: 10px;
}

.section_ranked {
    grid-template-rows: auto repeat(3, 150px) auto;
    border-radius: unset;
    padding: 15px;
    margin: 0;
}

#accomodations {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 240px) auto;
    grid-template-areas: "header"
        "item_a"
        "item_b"
        "item_c"
        "item_d"
        "item_e"
        "item_f"
        "screen_more";
    background-color: unset;
    padding: 0 25px;
    margin: 0;
}

.accomodation_picture {
    height: calc(100% - 80px);
}

.fig_size {
    height: 80px;
}

.margin_aside {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 200px);
    grid-template-areas:"header"
        "item_a"
        "item_b"
        "item_c"
        "item_d"
        "item_e"
        "item_f";
    padding: 0 25px 0 25px;
}

.bottom_page {
    display: block;
}