@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url();
}

.navigation{
    display: flex;
    height: 100px;
}

.logo_index{
    display: flex;
    flex-grow: 5;
}
.logo_agence{
    width: 10%;
}
.activitie{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}
.accomodation{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}
