:root {
    font-size: 11px
}

.body_booki {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "popularity"
        "accomodation"
        "activitie"
        "footer";
    grid-gap: 20px;
}

.fig_size {
    padding: 5px 10px 5px 10px;
}

.button_filtre {
    font-size: 1.15rem;
}

#accomodations, .section_ranked {
    margin: 0 25px 0 25px;
}

.header_accomodation {
    display: flex;
    align-items: center;
}

.header_grid, .margin_aside {
    padding: 25px;
}

#accomodations {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px repeat(3, 280px);
    grid-template-areas: "header header"
                         "item_a item_b"
                           "item_c item_d"
                            "item_e item_f"
                            "screen_more screen_more";
}

.margin_aside {
    grid-template-rows: auto 150px 30px 150px;
    grid-gap: 20px;
}

.activitie_police {
    padding: unset;
}

.activitie_height {
    height: calc(100% - 55px);
}

.fig_activitie {
    height: 55px;
    display: flex;
    align-items: center;
}

.bottom_page {
    margin-top: unset;
}
