@font-face {
    font-family: 'Raleway',sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
}

@font-face {
    font-family: 'Ralewaynt',sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
}

.police {
    font-family: 'Raleway','Ralewaynt',Segoe UI Black, sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    grid-template-areas: "header header"
"accomodation popularity"
"activitie activitie"
"footer footer";
}

a:visited {
    color: black;
    border-top: 2px solid white;
    padding-top: 2px;
}

:root {
    font-size: 10px;
}

h1 {
    font-size: 1.70rem;
}

h2 {
    font-size: 1.24rem;
}

p {
    font-size: 1.20rem;
}

li {
    font-size: 1.15rem;
}

button {
    font-size: 0.50rem;
}

.fas {
    font-size: 1rem;
}

.police_nt {
    font-family: 'Raleway','Segoe UI Black','sans-serif';
}

.header_grid {
    grid-area: header;
    font-family: 'Raleway','Segoe UI Black','sans-serif';
    padding: 0 40px 0 40px;
}

.navigation {
    display: flex;
    align-items: center;
    height: 80px;

}

.navigation > a:nth-child(1) {
    flex-grow: 20;

}

.navigation > a > img {
    width: 100px;
    object-fit: cover;
}
#search_fonts{
    display: none;
}
.activitie {
    display: flex;
    color: #0065FC;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    flex-grow: 1;
    height: 80px;
    border-top: 2px solid transparent;
}
.activitie:hover{
    border-top: 2px solid #0065FC;
}
.accomodation {
    display: flex;
    align-items: center;
    color: #0065FC;
    flex-grow: 1;
    height: 80px;
    justify-content: center;
    border-top: 2px solid transparent;
}
.accomodation:hover{
    border-top: 2px solid #0065FC;
}
.barre_search {
    display: flex;
    margin-bottom: 20px;
    margin-top: 15px;
    font-family: "Raleway",sans-serif;
}

.border_case {
    color: black;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    box-shadow: 0 5px 10px silver;

}

.border_style {
    border-style: solid;
    border-right: unset;
    border-color: #F2F2F2;
    padding: 0 20px;
    width: 300px;
    font-size: 1.35rem;
}

.button_search {
    background-color: #0065FC;
    color: white;
    padding: 0 15px;
    border-radius: 0 10px 10px 0;
    border: none;
    font-size: 1.35rem;
}

.filtre_responsive {
    display: inline-block;
}

.style_button {
    border-radius: 20px;
    border: solid 2px #F2F2F2;
    background-color: white;
    font-size: 1.35rem;
    margin-right: 10px;

}

.button_filtre {
    padding: 0 10px
}

.style_button:hover {
    box-shadow: 0 0 0 0 rgba(8, 14, 44, 0.1);
    animation: pulse 0.5s alternate forwards;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 5px rgba(8, 14, 44, 0.01);
    }
}

.style_button i {
    margin: -2px;
    color: #0065FC;
    line-height: 40px;
    width: 40px;
    background-color: #DEEBFF;
    border-radius: 21px;
    height: 40px;
}

#child {
    padding-right: 12px;
    padding-left: 12px;
}

.margin_filtre {
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
}


#logo_info {
    margin-right: 10px;
    color: #0065FC;
    border: #00000045 solid 1px;
    line-height: 23px;
    border-radius: 20px;
    width: 23px;
    height: 23px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
}

.filtre i {
    border-radius: 20px;
    background-color: #4f7017;
}

.information i {
    color: #3a709a;
    border: 1px solid #0000003d;
    border-radius: 50%;
    margin-right: 10px;
    padding: 0.5em;
}

.header_accomodation {
    grid-area: header;
}

#accomodations {
    display: grid;
    grid-area: accomodation;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px repeat(2, 230px) auto;
    margin: 0 0 0 40px;
    padding: 20px;
    grid-gap: 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
    justify-content: center;
    grid-template-areas: "header header header"
                         "item_a item_b item_c"
                         "item_d item_e item_f";

}

.position_a {
    grid-area: item_a;
}

.position_b {
    grid-area: item_b;
}

.position_c {
    grid-area: item_c;
}

.position_d {
    grid-area: item_d;
}

.position_e {
    grid-area: item_e;
}

.position_f {
    grid-area: item_f;
}

.picture_a {
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.size_height {
    height: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 10px silver;
    padding: 5px;
    background-color: white;

}

.size_img {
    height: 100%;
}

.accomodation_picture {
    height: calc(100% - 75px);
}



.section_ranked {
    grid-area: popularity;
    background-color: #F2F2F2;
    display: grid;
    padding: 20px;
    border-radius: 20px;
    grid-template-rows: 40px repeat(3, 150px);
    grid-gap: 30px;
    margin: 0 40px 0 0;

}

.position_ranked {
    display: flex;
    height: 100%;
    width: 100%;
}

.ranked_picture {
    width: 40%;

}

.graph {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graph i {
    font-size: 1.90rem;
}


.range_picture {
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;

}

.fig_size {
    height: 75px;
    padding: 2px 10px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    color: black;
}

.padding_top {
    position: relative;
    width: 60%;
    border: none;
    padding: 10px;
}

.line_height {
    width: 70%;
    line-height: 1;
    margin-bottom: 5px;
}

.title_bottom {
    display: block;
}

.color_price {
    font-family: Ralewaynt, sans-serif;
}

.star {
    color: #0065FC;
    position: absolute;
    bottom: 5px;

}

.star_ranked {
    position: absolute;
    padding-top: 40px;
    padding-bottom: 5px;
    color: #0065FC;
    bottom: 0;

}

.star_grey {
    color: #d5d5d5;
}

.loc_back {
    display: flex;
    background-color: #F2F2F2;
    align-items: center;
    width: 40px;
                                                                /*--localisation icone--*/
    height: 40px;
    justify-content: center;
    border-radius: 10px 0 0 10px;

}

.picture_hotel_ranked {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pad_bot {
    display: inline-block;
}

.picture_absolute {
    margin-top: 25px;
}

.title_activitie {
    display: flex;
    align-items: end;
}

.screen_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;

}


.margin_aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 200px 50px 200px;
    grid-template-areas: "header header header header"
                         "item_a item_b item_c item_d"
                          "item_a item_b item_c item_f"
                          "item_a item_e item_c item_f";
    grid-area: activitie;
    grid-gap: 30px;
    padding: 0 40px 0 40px;
}

.activitie_police {
    padding: 10px 5px 10px;
    color: black;
}

.activitie_height {
    height: calc(100% - 70px);
}

.aside_card {
    height: 100%;
    width: 100%;
    background: white;
    box-shadow: 0 5px 10px silver;
    border-radius: 20px 20px 20px 20px;
}
.figure_height{
    height: 100%;
}
.fig_activitie {
    height: 70px;
    padding: 10px;
}
.item_a {
    grid-area: item_a;
}

.item_b {
    grid-area: item_b;
}

.item_c {
    grid-area: item_c;
}

.item_d {
    grid-area: item_d;
}

.item_f {
    grid-area: item_f;
}

.item_e {
    grid-area: item_e;
}

.margin_aside > header {
    grid-area: header;
}

.bottom_page {
    padding: 25px;
    grid-area: footer;
    background-color: #F2F2F2;
    margin-top: 30px;
    bottom: 55px;
    display: flex;
}

.footer_page {
    width: 100%;
}

.footer_page li {
    margin-right: 10%;
    font-family: Ralewaynt, sans-serif;
}

.footer_place {
    display: flex;
    width: 100%;
}

