:root {
    font-size: 11px
}
.police{
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "popularity"
        "accomodation"
        "activitie"
        "footer";
    grid-gap: 20px;
}
.accomodation, .activitie{
    color: #0065FC;
    border-bottom: 2px solid #0065fc;

}
.accomodation:hover{
    border-top: none;
}
.activitie:hover{
    border-top: none;
}
.fig_size{
    padding: 0 10px 0 10px;
}
.graph i{
    font-size: 1.40rem;
}
.button_filtre{
    font-size: 1.15rem;
}

#accomodations, .section_ranked{
    margin: 0 25px 0 25px;
}
.header_accomodation{
    display: flex;
    align-items: center;
}
.header_grid, .margin_aside{
    padding: 25px;
}
#accomodations{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px repeat(3, 180px);
    grid-template-areas: "header header"
                         "item_a item_b"
                           "item_c item_d"
                            "item_e item_f";
}

.margin_aside{
    grid-template-rows: auto 150px 30px 150px;
    grid-gap: 20px;
}
.activitie_police{
    padding: unset;
}
.activitie_height{
    height: calc(100% - 55px);
}
.fig_activitie{
    height: 55px;
    display: flex;
    align-items: center;
}
.bottom_page{
    margin-top: unset;
}
